.header {
  min-width: 320px;
  background: #ffffff;
  height: 88px;
  padding: 18.59px 16px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__menu-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  margin-right: 16px;
  margin-left: 16px;
}
.header__menu-block:first-of-type .header__button:first-of-type {
  margin-left: 0;
}
.header__menu-block:last-of-type .header__button:last-of-type {
  margin-right: 0;
}

.header__button:hover {
  transform: scale(1.1);
}
.header__button:active {
  filter: drop-shadow(0 0 4px RGBA(27,28,33,0.3));
}

.divider {
  background-color: #eaeaea;
  height: 32px;
  width: 2px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .divider--hidden--mobile {
    display: none;
  }

  .button--hidden--mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .header__menu-block:first-of-type > li:last-of-type {
    margin-left: 20px;
  }

  .header__menu-block:nth-of-type(2) > li:nth-of-type(3) {
    margin-right: 20px;
  }

  .header {
    padding: 18.59px 24px;
  }

}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
