.brands {
  background-color: #f8f8f8;
  max-width: 1120px;
}

.brands__head {
  padding: 15px 16px 16px 16px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(90deg, #F8F8F8 1%, #FFFFFF 100%);
}
.brands__title {
  color: #7e7e82;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

.brands__slide-items {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  height: 72px;
  width: 240px;
  background-color: #ffffff;
  padding: 0 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.brands__link {
  width: 40px;
  height: 40px;
}

.brands__link:hover {
  transform: scale(1.1);
}
.brands__link:active {
  filter: drop-shadow(0 0 4px rgba(255, 62, 121, 0.5));
}

@media (min-width: 320px) and (max-width: 767px) {
  .brands {
    height: 234px;
  }

  .brands__swiper {
    padding-top: 16px;
    height: 104px;
    min-width: 320px;
  }

  .brands::after {
    content: "";
    position: absolute;
    right: 0;
    margin-top: -90px;
    width: 24px;
    height: 81px;
    z-index: 10;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .brands__swiper .swiper-horizontal > .swiper-pagination-bullets,
  .brands__swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .brands__swiper .swiper-pagination-custom,
  .brands__swiper .swiper-pagination-fraction {
    position: static;
  }

  .brands__swiper .swiper-pagination-bullet {
    background: #dddddd;
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 12px;
  }

  .brands__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #b5b6bc;
    opacity: 1;
  }

  .brands .button-open,
  .brands .button-close {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 1119px) {
  .brands__head {
    padding-left: 24px;
    margin: 0 auto;
  }
  .brands__swiper {
    width: 100%;
  }

  .brands__wrapper {
    margin: 0 auto;
    position: static;
    padding: 24px;
    width: 768px;

    transition-property: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 24px;
  }
  .brands__slide {
    position: static;
    width: 224px;
    height: 72px;
  }
  .brands__slide-items {
    width: 224px;
    height: 72px;
  }

  .brands .button-open,
  .brands .button-close {
    display: block;
    text-align: left;
    min-width: 768px;
    padding-left: 32px;
    padding-bottom: 34px;
    margin: 0 auto;
  }

  .brands .button-open::before {
    content: url("../img/readmoreicon.svg");
    margin-right: 16px;
  }

  .brands .button-close::before {
    content: url("../img/readlessicon.svg");
    margin-right: 16px;
  }

  .brands__swiper .swiper-slide--hidden--tablet,
  .brands .button--hidden {
    display: none;
  }
  .brands__swiper .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1120px) {
  .brands {
    max-width: 1120px;
    margin: 0 auto;
  }

  .brands__head {
    padding-left: 32px;
  }

  .brands__swiper {
    width: 100%;
  }

  .brands__wrapper {
    margin: 0 auto;
    position: static;
    padding: 24px 32px;
    width: 1120px;

    transition-property: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 32px;
  }
  .brands__slide {
    position: static;
    width: 240px;
    height: 72px;
  }
  .brands__slide-items {
    width: 240px;
    height: 72px;
  }

  .brands .button-open,
  .brands .button-close {
    display: block;
    text-align: left;

    padding-left: 39px;
    padding-bottom: 34px;
    min-width: 1120px;
    margin: 0 auto;
  }

  .brands .button-open::before {
    content: url("../img/readmoreicon.svg");
    margin-right: 16px;
  }

  .brands .button-close::before {
    content: url("../img/readlessicon.svg");
    margin-right: 16px;
  }

  .brands__swiper .swiper-slide--hidden--desktop,
  .brands .button--hidden {
    display: none;
  }
  .brands__swiper .swiper-pagination {
    display: none;
  }
}
@media (min-width: 1440px) {
  .brands {
    min-width: 1120px;
    margin: 0;
  }
  .brands__swiper .swiper-pagination {
    display: none;
  }
}
