.footer {
  border-top: 1px solid #d9fff5;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 19px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__block {
  opacity: 0.72;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__copyright {
  text-transform: uppercase;
}
.footer__link {
  color: #7e7e82;
  opacity: 0.72;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.footer__link:hover,
.footer__link:active,
.footer__link:visited {
  opacity: 0.33;
}

.footer__disclaimer {
  opacity: 0.72;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: 767px;
    height: 147px;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .footer {
    max-width: 768px;
    padding: 32px 24px 25px 24px;
    flex-direction: row;
  }

  .footer__block {
    justify-content: flex-start;
    text-align: left;
  }
  .footer__disclaimer {
    text-align: right;
    width: 30%;
  }
}

@media (min-width: 1120px) {
  .footer {
    max-width: 1120px;
    padding: 32px 33px 21px 31px;
    flex-direction: row;
  }
  .footer__block {
    justify-content: flex-start;
    text-align: left;
  }
  .footer__disclaimer {
    text-align: right;
    width: 31%;
  }
}
@media (min-width: 1440px) {
  .footer {
    min-width: 1120px;
    margin: 0;
  }
}
