.prices {
  background: #f8f8f8;
  max-width: 1120px;
}

.prices__head {
  padding: 15px 16px 16px 16px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(90deg, #F8F8F8 1%, #FFFFFF 100%);
  margin-bottom: 16px;
}

.prices__title {
  color: #7e7e82;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}
.prices__button > img {
  width: 119px;
  height: 32px;
}

.prices__slide-block .order-button {
  width: 119px;
  height: 32px;
  display: block;
}

.prices__slide-block .order-button:hover,
.prices__slide-block .order-button:hover {
  transform: scale(1.1);
}
.prices__slide-block .order-button:active,
.prices__slide-block .order-button:active {
  filter: drop-shadow(0 0 4px RGBA(255, 62, 121, 0.5));
}

.prices__slide-items span {
  line-height: 16px;
  font-size: 14px;
  color: #7e7e82;
}

.prices__service span:last-child,
.prices__cost span:last-child,
.prices__timeframe span:last-child {
  line-height: 18px;
  color: #1b1c21;
  letter-spacing: 0.2px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .prices {
    height: 316px;
  }

  .prices__swiper-title {
    display: none;
  }
  .prices__swiper {
    min-width: 320px;
  }
  .prices__slide-items {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    height: 200px;
    width: 260px;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .prices__service,
  .prices__cost,
  .prices__timeframe {
    display: flex;
    flex-direction: column;
  }
  .prices__slide-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .prices::after {
    content: "";
    position: absolute;
    margin-top: -232px;
    right: 0;
    width: 24px;
    height: 200px;
    z-index: 10;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
  .prices__swiper .swiper-horizontal > .swiper-pagination-bullets,
  .prices__swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .prices__swiper .swiper-pagination-custom,
  .prices__swiper .swiper-pagination-fraction {
    position: static;
  }

  .prices__swiper .swiper-pagination-bullet {
    background: #dddddd;
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 12px;
  }

  .prices__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #b5b6bc;
    opacity: 1;
  }
}


@media (min-width: 768px) and (max-width: 1119px) {
  .prices {
    margin: 0 auto;
    max-width: 1119px;
  }

  .prices__swiper .swiper-pagination {
    display: none;
  }

  .prices__head {
    padding-left: 24px;
    margin: 0 auto;
  }

  .prices__swiper {
    padding: 24px;
    padding-top: 0;
    margin: 0 auto;
    width: 768px;
  }

  .prices__service span:first-child,
  .prices__cost span:first-child,
  .prices__timeframe span:first-child {
    display: none;
  }

  .prices__swiper-title {
    font-size: 16px;
    line-height: 16px;
    color: #7e7e82;
    padding: 16px;
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .prices__swiper-title div:first-child {
    width: 54%;
  }

  .prices__swiper-title div:nth-child(2) {
    width: 14%;
  }
  .prices__swiper-title div:last-child {
    width: 32%;
  }

  .prices__wrapper {
    border-radius: 6px;
    position: static;

    width: 720px;
    background: #ffffff;
    transition-property: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 1px;
  }

  .prices__slide {
    position: static;
    height: 64px;
  }
  .prices__slide::after {
    content: " ";
    display: block;
    width: 688px;
    height: 1px;
    z-index: 10;
    background-color: #eaeaea;
    margin: 0 16px;
  }
  .prices__slide:last-child::after {
    display: none;
  }

  .prices__slide-items {
    height: 64px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .prices__slide-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .prices__service {
    width: 54%;
  }

  .prices__cost {
    width: 14%;
  }
  .prices__slide-block {
    width: 32%;
  }
}

@media (min-width: 1120px) {
  .prices {
    margin: 0 auto;
    min-width: 1120px;
  }

  .prices__swiper .swiper-pagination {
    display: none;
  }

  .prices__head {
    padding-left: 32px;
    margin: 0 auto;
  }

  .prices__swiper {
    padding: 32px;
    padding-top: 0;
    margin: 0 auto;
    width: 1120px;
  }

  .prices__service span:first-child,
  .prices__cost span:first-child,
  .prices__timeframe span:first-child {
    display: none;
  }

  .prices__swiper-title {
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    padding: 16px 24px;
    width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .prices__swiper-title div:first-child {
    width: 54%;
  }

  .prices__swiper-title div:nth-child(2) {
    width: 14%;
  }
  .prices__swiper-title div:last-child {
    width: 32%;
  }

  .prices__wrapper {
    border-radius: 6px;
    position: static;

    width: 1056px;
    background: #ffffff;
    transition-property: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 1px;
  }

  .prices__slide {
    position: static;
    height: 64px;
  }
  .prices__slide::after {
    content: " ";
    display: block;
    width: 1008px;
    height: 1px;
    z-index: 10;
    background-color: #eaeaea;
    margin: 0 24px;
  }
  .prices__slide:last-child::after {
    display: none;
  }

  .prices__slide-items {
    height: 64px;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .prices__slide-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .prices__service {
    width: 54%;
  }

  .prices__cost {
    width: 14%;
  }
  .prices__slide-block {
    width: 32%;
  }
}
@media (min-width: 1440px) {
  .prices {
    min-width: 1120px;
    margin: 0;
  }

  .prices__swiper .swiper-pagination {
    display: none;
  }
}
