.menu-header__button:hover,
.menu-footer__button:hover {
  transform: scale(1.1);
}
.menu-header__button:active,
.menu-footer__button:active {
  filter: drop-shadow(0 0 4px RGBA(255, 62, 121, 0.5));
}

.menu-container {
  width: 100%;
  height: 100%;
  background: RGBA(255, 255, 255, 0.96);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
}

.side-menu {
  width: 320px;
  height: 100%;
  background: #ffffff;

  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  z-index: 12;
}

.menu-header {
  height: 88px;
  padding: 23px 24px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.menu-header__button-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.menu-header__button:not(.menu-header__button:nth-of-type(2)) {
  width: 40px;
  height: 40px;
}

.menu-header__button:nth-of-type(2) {
  align-self: center;
  margin-left: 16px;
}

.menu-main__list {
  list-style: none;
  padding-left: 4px;
  margin: 0;
}

.menu-main__link {
  padding-left: 20px;
  opacity: 1;
  color: #1b1c21;

  border-left: 4px solid #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -4px;

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.menu-main__link:hover,
.menu-main__link:active {
  border-color: #41f6d7;
  opacity: 0.33;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.menu-footer__link {
  color: #1b1c21;
}

.menu-footer__icons {
  margin-bottom: 16px;
  margin-left: 24px;
  height: 40px;
}

.menu-footer__icons > .menu-footer__button {
  height: 40px;
  margin-right: 16px;
}

.menu-footer__contacts {
  display: block;
  margin-left: 24px;
  margin-bottom: 8px;
}

.menu-footer__contacts > .menu-footer__link:first-child {
  display: block;
  margin-bottom: 12px;
}

.menu-footer__contacts > .menu-footer__link:last-child {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  display: block;
}

.menu-footer__lang-switch {
  margin-left: 24px;
  margin-bottom: 32px;
}

.menu-footer__lang {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-right: 7px;
}

.menu-footer__lang:hover,
.menu-footer__lang:active {
  opacity: 0.33;
}

@media (min-width: 320px) and (max-width: 359px) {
  .menu-container {
    width: 320px;
    max-height: 676px;
  }

  .side-menu {
    width: 320px;
  }
  .menu-main__list li {
    margin-bottom: 24px;
  }
  .menu-main__list li:last-child {
    margin-bottom: 32px;
  }

  .menu-main__navigation {
    margin-top: 8px;
  }
  .menu-container--hidden {
    visibility: hidden;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .side-menu {
    width: 360px;
  }
  .menu-main__list li {
    margin-bottom: 24px;
  }
  .menu-main__list li:last-child {
    margin-bottom: 32px;
  }

  .menu-main__navigation {
    margin-top: 8px;
  }
  .menu-container--hidden {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .side-menu {
    width: 320px;
  }

  .menu-main__list li {
    margin-bottom: 32px;
  }

  .menu-main__list li:last-child {
    margin-bottom: 268px;
  }
  .menu-footer__contacts {
    margin-bottom: 40px;
  }
  .menu-main__navigation {
    margin-top: 32px;
  }
  .menu-container--hidden {
    visibility: hidden;
  }
}

@media (min-width: 1440px) {
  .side-menu {
    max-width: 306px;
    box-shadow: none;
    margin: 0;
  }

  .menu-container {
    max-width: 306px;
    position: static;
    min-height: 1925px;
    margin: 0;
  }
  .menu-header {
    padding: 30px 29px 10px 22px;
    align-items: center;
    height: auto;
  }

  .menu-header__button:first-child {
    display: none;
  }
  .menu-header__button:nth-of-type(2) {
    margin: 0;
    width: 96.55px;
    height: 50.81px;
  }

  .menu-main__navigation {
    margin-top: 27px;
  }

  .menu-main__list li {
    margin-bottom: 28.31px;
  }
  .menu-main__list li:last-child {
    margin-bottom: 241px;
  }

  .menu-footer__contacts {
    margin-bottom: 40.82px;
  }
}
